.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.input-container {
  border: 1px solid blue;
  padding: 1rem;
  position: relative;
}

.warning {
  position: absolute;
  padding: 0.5rem;
  right: -250px;
  top: -40px;
  border: 1px solid red;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  transition: all 1s;
}

.active {
  opacity: 1;
}
