.letter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid hsl(20, 40%, 50%);
  border-radius: 5px;
  flex-shrink: 0;
  margin: 5px;
  transition: all 0.7s;
}

.guess {
  display: block;
  animation: textAnimation 0.7s ease-in-out;
}

.delay-0 {
  transition-delay: 0.2s;
}
.delay-1 {
  transition-delay: 0.4s;
}
.delay-2 {
  transition-delay: 0.6s;
}
.delay-3 {
  transition-delay: 0.8s;
}
.delay-4 {
  transition-delay: 1s;
}
.delay-5 {
  transition-delay: 1.2s;
}
.delay-6 {
  transition-delay: 1.4s;
}
.delay-7 {
  transition-delay: 1.6s;
}

.correct {
  background-color: green;
}

.almost {
  background-color: orange;
}

.wrong {
  background-color: darkgray;
}

@keyframes textAnimation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
