.letter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid red;
  flex-shrink: 0;
  margin: 5px;
  transition: all 0.7s;
}

.guess {
  display: block;
  /* transition: all 0.7s; */
  /* background-color: blue; */
  animation: textAnimation 0.7s ease-in-out;
}

.correct {
  background-color: green;
}

.almost {
  background-color: yellow;
}

.wrong {
  background-color: red;
}

@keyframes textAnimation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
