.key {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  opacity: 0.5;
  margin: 0.2rem;
  padding: 0.3rem;
  font-size: 0.8rem;
  transition: all 0.5s;
}

.key:hover,
.key:focus,
.key:active {
  color: white;
  opacity: 1;
  box-shadow: 0 0 10px #219653, 0 0 40px #219653, 0 0 80px #219653;
}

.big-key {
  display: flex;
  flex: 2 2;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  opacity: 0.5;
  transition: all 0.5s;
  padding: 0.3rem 0;
  margin: 0.2rem;
  font-size: 0.8rem;
}

.correct {
  background-color: green;
}

.included {
  background-color: orange;
}

.disable {
  background-color: hsl(180, 10%, 40%);
  color: white;
}

.active {
  color: white;
  opacity: 1;
  box-shadow: 0 0 10px #219653, 0 0 40px #219653, 0 0 80px #219653;
}
