.keyboard-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: max-content; */
  padding: 1rem;
  margin: 1rem auto;
}

.keyboard-row {
  display: flex;
}
