.keyboard-container {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: 450px;
  margin: 0 auto;
}

.keyboard-row {
  display: flex;
}
